
.form-contem{
    display: flex;
   
}
.add-product{
    display: flex;
    text-align: center;
    border: dotted grey 2px;
    background-color: whitesmoke;
    margin: 2rem;
    padding: 1rem;
    
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px ;
   
   
}

.form-group p{
    width: 50%;
}
.map-container{
  
    width: 90%;
    padding: 10px ;
    border: solid grey .5px;
    /* width: 30% */

}
.todo{
  
    margin-left: 10%;
    text-align: center;
    
}
