.navbar {
    background-color: #505e6c;
}

.search {
    width: 100px;
}

.form-inline {
    width: 100%;
}

.nav-left-item {
    display: flex;
}

.logo {
    float: left;
    color: white;
    width: 50px;
    height: 50px;
}

a {
    color: white;
}

a:hover {
    color: #ffed4f !important;
}

.nav-right-item {
    display: flex;
    justify-items: center;
    margin-right: 1rem;
}

.nav-right-item p {
    margin-left: 1.5rem;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.button-search {
    color: #ffed4f;
    border-color: #ffed4f;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
}