.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem 8rem;
    background: #f1f7fc;
}

.react-rater-star.is-active {
    color: #fc6;
}

.tag {
    font-size: 0.7rem;
    float: left;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #505e6c;
    padding: 5px 5px 5px 5px;
    border-radius: 100px;
}

.items {
    display: flex;
    flex-flow: wrap;
    margin: 1.5rem;
    justify-content:space-around;
}

.card{
    max-width: 320px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}



