
.image{
    width: 8rem;  
}
.btn-edit{
   display: flex;
}
.btn-warning{
margin-left: 1.5rem;
height: 2.5rem;
}

.tittle{
    text-align: center;
    padding: 1rem;
    color: grey;
}


#button{
    background: #ffed4f;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

.drop3 {
    display: flex;
    padding: 1rem;
    border: 3px dashed #DADFE3;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: transparent;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .container3{
    padding: 10px 90px;
  }



  
