.myproducts{
    display: flex;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    border: dotted grey 2px;
    background-color: whitesmoke;
   
}
.image{
    width: 8rem;  
}
.btn-edit{
   display: flex;
}
.btn-warning{

margin-left: 1.5rem;
height: 2.5rem;

}

.card-tittle{
    width: .3rem;
}
.tittle{
    text-align: center;
    padding-top: 1rem;
    color: grey;
}
.add-new-product{
    display: flex;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    border: dotted grey 2px;
    background-color: whitesmoke;
    flex-wrap: wrap;
}
#button{
    background: #ffed4f;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none !important;
}
